@import 'colors'

// -----
// FORMS
// -----

input,
textarea,
select
    font-family: 'Open Sans', sans-serif
    font-size: 1.6rem

    border: 1px solid #999
    border-radius: 3px

    width: 100%
    margin: 8px 3px
    padding: 6px 10px

    color: #383838
    background-color: #FFF

input:focus,
textarea:focus,
select:focus
    border-color: $nucleon
    outline: none

label
    font-family: 'Source Sans Pro', sans-serif
    font-size: 1.8rem
    display: block
    text-align: left
    font-weight: bold

.input-group
    display: block
    margin-bottom: 10px

.has-error
    border-color: $red !important
.has-success
    border-color: $green !important
