@import 'variables'

// -----------
// BASE RESETS
// -----------

*
    box-sizing: border-box

html,
body
    margin: 0
    padding: 0

body
    background-color: $almost-white

hr
    border: none
    border-top: $almost-white
    margin: 25px 0
