/* Custom styles for examples page */
#page-wrapper {
  padding-top: 100px; }

#site-heading {
  text-align: center; }
  #site-heading img {
    max-width: 55px;
    margin-top: 25px; }
  #site-heading h1 {
    position: relative;
    display: inline-block;
    top: -15px;
    margin: 0 25px; }

[class*="col-"], .col {
  border-radius: 3px;
  border: 1px solid white; }

.bg-gray {
  color: white; }

[class*="col-"].bg-gray, .col.bg-gray {
  text-align: center; }

#headings h1, #headings h2, #headings h3, #headings h4, #headings h5, #headings h6 {
  display: inline-block; }

.grid {
  margin-bottom: 3rem; }

.color-grid [class*="col-"] {
  min-height: 50px; }

footer {
  background-color: #383838;
  color: #FDFDFD;
  padding: 25px; }

footer a {
  color: #FDFDFD;
  font-weight: bold; }

footer a:hover {
  text-decoration: underline; }

footer .outline {
  padding: 15px 25px;
  border: 1px solid #FDFDFD;
  border-radius: 3px; }

.emoji {
  font-size: 2.4rem; }
